html {overflow-y: scroll;}

.text-center { text-align: center; }
.hidden { display: none; }
option { color: black; }
.demo-section { margin-top: 30px;}

.content { box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.3); }

.options-button-group { padding-top: 10px; }

.options-form {
	margin-left: 10px;
	margin-bottom: 10px;
}

footer h4, footer h5 { margin:5px; display: inline-block; margin-bottom: 0px; }
video {  border: 2px solid darkgrey; margin-top: 1em; }

/* Gradient transparent - color - transparent */
hr.from_left {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.65), rgba(0,0,0,0.15), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.65), rgba(0,0,0,0.15), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.65), rgba(0,0,0,0.15), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0.65), rgba(0,0,0,0.15), rgba(0,0,0,0)); 
}
